<div class="jumbotron">
    <h1>Welcome To Homework Tracker</h1>
</div>


<div class="container" ng-hide="loggedIn">
    <div class="row justify-content-md-center">
        <div class="col-md-3 col-md-offset-4 login-button">
            <p>What are those kids up to?</p>
            <a href="#/parent-login" class="btn btn-primary btn-lg">Parent Login</a>
        </div>
        <div class="col-md-3 col-md-offset-4 login-button">
            <p>Is your homework done? No, really, is it?</p>
            <a href="#/student-login" class="btn btn-primary btn-lg">Student Login</a>
        </div>
        <div class="col-md-3 col-md-offset-4 login-button">
            <p>Really, what ARE those kids up to?</p>
            <a href="#/signup" class="btn btn-primary btn-lg">Sign Up</a>
        </div>
    </div>
</div>
<h1 ng-if="loggedIn === true">Hello {{user.name}} </h1>