<div class="jumbotron">
    <h1>Welcome To Homework Tracker</h1>
<img src=>
</div>


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-3 col-md-offset-4 login-button">
           <p>What are those kids up to?</p>
            <a href="#/assignments" class="btn btn-primary btn-lg">Login</a>
        </div>
        <div class="col-md-3 col-md-offset-4 login-button">
           <p>Really, what ARE those kids up to?</p>
            <a href="#/assignments" class="btn btn-primary btn-lg">Sign Up</a>
        </div>
    </div>
</div>