body {
    background-color: #02C8A7;
}

h1 {
    color: #ffff;
    font-family: 'Abel', sans-serif;

    text-align: center;
}

h3 {
    color: #ffff;
    font-family: 'Open Sans Condensed', sans-serif;
}

h4 {
    color: #ffff;
    font-family: 'Abel', sans-serif;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 1.25em;
}

.jumbotron {
    background-color: #7CDBDS;
    margin-bottom: none;
}

.form-control {
    width: 60%;
}

.form-group {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.25em;
}

.login-button {
    padding-bottom: 20px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 0;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #F9BE02;
    color: #ffffff;
    font-family: 'Abel', sans-serif;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #F53240;
}

.btn-primary:active:focus {
  color: #ffffff; 
  background-color: #F53240; 
}
 
.navbar-default {
    background-color: #F53240;
    border-color: #F53240;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-bottom: none;
    border-radius: 0;
    font-size: 1.25em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; 
background-color: #F9BE02;
}

.navbar-default .navbar-nav > .color-text > a {
    color: white;
}

.glyphicon-apple {
    color: #02C8A7;
}