<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/home">
                    <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
                </a>
                <ul class="nav navbar-nav">
                    <li class="active color-text"><a href="#/home">Home <span class="sr-only">(current)</span></a></li>
                    <li class="color-text"><a href="#/assignments">Assignments</a></li>
                    <li class="color-text"><a href="#/signup">Sign Up</a></li>
                    <li class="color-text"><a href="#/login">Login</a></li>
                </ul>

            </div>
        </div>
    </nav>
    
