<div class="container-fluid">
    <h1><b><u>Your Students</u></b></h1>

    <br>
    <!-- Trigger the add student modal with a button -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addStudentModal">Add
        Student
    </button>

    <br>
    <br>

    <div style="overflow-x:auto;">
        <table class="table">
            <thead>
            <th>Student Name</th>
            <th>Edit Student</th>
            <th>Delete Student</th>
            </thead>
            <tr ng-repeat="student in students">
                <td><h1 class="left" ng-click="studentInfo(student)">{{ student.name }}</h1></td>
                <!-- Trigger the edit student modal with a button -->
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editStudentModal"
                            ng-click="findStudent(student)">
                        <span class="glyphicon glyphicon-pencil"></span></button>
                </td>
                <!-- Trigger the delete student modal with a button -->
                <td>
                    <button type="button" class="btn btn-danger" ng-click="delete(student)">
                        <span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>

        </table>
    </div>


    <!-- Add Student Modal -->
    <div id="addStudentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Add Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Student</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Student Name</label>
                            <input type="text" id="name" class="form-control" ng-model="student.name">
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" class="form-control" ng-model="student.email">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" class="form-control" ng-model="student.password">
                        </div>

                        <div class="form-group">
                            <label for="passwordRepeat">Repeat Password</label>
                            <input type="password" id="passwordRepeat" class="form-control" ng-model="passwordRepeat">
                            <span class="text-danger" ng-show="passwordMessage">{{passwordMessage}}</span>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="center-block btn btn-primary btn-lg" data-dismiss="modal" ng-click="signup(student)">Signup</button>
                </div>
            </div>
        </div>

        <!-- Edit Student Modal -->
        <div id="editStudentModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Edit Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Student</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="name">Student Name</label>
                                <input type="text" id="name" class="form-control" ng-model="student.name">
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" class="form-control" ng-model="student.email">
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" class="form-control" ng-model="student.password">
                            </div>

                            <div class="form-group">
                                <label for="passwordRepeat">Repeat Password</label>
                                <input type="password" id="passwordRepeat" class="form-control"
                                       ng-model="passwordRepeat">
                                <span class="text-danger" ng-show="passwordMessage">{{passwordMessage}}</span>
                            </div>

                            <button type="button" class="center-block btn btn-primary btn-lg" data-dismiss="modal"
                                    ng-click="signup(student)">Signup
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

            <!-- Delete Student Modal -->
            <div id="deleteStudentModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Add Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Student</h4>
                        </div>
                        <div class="modal-body">
                            <p></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>